.hrs{
    position:relative;
    left:3%;
    width:94%
}

.ltext{
    position:relative;
    left:3%
}

.name{
    position:relative;
    left:40%
}

.bts{
    border:none;
    background:none;
    outline:none;
    cursor: pointer
}